header {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    background-color: #7ED957;
}

header a {
    background-color: lightgreen;
    padding: 10px;
}

.imglogo {
    width: 20%;
}

.sites {
    display: flex;
    justify-content: space-evenly;
}

