body {
    background-color: lightgray;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    background-color: #7ED957;
}

header button {
    background-color: lightgreen;
    padding: 10px;
}

header img {
    width: 20%;
}

.sites {
    display: flex;
    justify-content: space-evenly;
}

.intro {
    display: flex;
    justify-content: space-evenly;
}

.intro img {
    width: 45%;
}

.menu {
    display: grid;
    justify-content: start;
}

.menu h3 {
    color: black;
}

.topicos {
    color: transparent;
    background-color: #7ED957;
    padding: 20px;
}

.tec1 {
    display: flex;
    justify-content: center;
}

.tec1 img {
    width: 55%;
}

.tec2 {
    display: flex;
    justify-content: center;
}

.tec2 img {
    width: 55%;
}

.tec3 {
    display: flex;
    justify-content: center;
}

.tec3 img {
    width: 55%;
}

.tec4 {
    display: flex;
    justify-content: center;
}

.tec4 img {
    width: 55%;
}

.tec5 {
    display: flex;
    justify-content: center;
}

.tec5 img {
    width: 55%;
}

.tec6 {
    display: flex;
    justify-content: center;
}

.tec6 img {
    width: 55%;
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: #7ED957;
}

footer img {
    width: 10%;
}