@media screen and (min-width: 1024px) {
    lista{
        right: 8%;
        width: 14%;
        padding: 20px;
        text-align: start;
    }
    
    lista-item:hover{
        background-color: lightgreen;
    }
}

body {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 12px;
    background-color: #7ED957;
    color: white;
    position: relative; /* Importante para o menu tomar como referência */
    align-items: center;
}

header img {
    width: 10%;
}

header div{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.lista{
    display: none;
    position: absolute; /* Aqui está definindo onde o menu irá aparecer */
    top: 100%;
    background-color: lightgray;
    width: 100%;
    padding: 20px.0;
    text-align: center;
}
/* Fazendo o menu aparecer quando clicado */

.caixa:checked ~ .lista{
    display: block;
}
/* Desaparecendo a caixa de selecão */

#menu{
    display: none;}

.lista-item{
    padding: 12px 8px;
    background-color: lightgreen;
}

.sites {
    display: flex;
    justify-content: space-evenly;
}

.intro {
    display: flex;
    justify-content: space-evenly;
}

.intro img {
    width: 45%;
}

.tabela {
    display: grid;
    justify-content: start;
}

.tabela h3 {
    color: black;
}

.topicos {
    list-style: none;
    background-color: #7ED957;
    padding: 20px;
}

.rodape {
    display: flex;
    justify-content: center;
    background-color: #7ED957;
}

footer img {
    width: 10%;
}

.tec1 {
    display: flex;
    justify-content: center;
}

.tec1 img {
    width: 55%;
}

.tec2 {
    display: flex;
    justify-content: center;
}

.tec2 img {
    width: 55%;
}

.tec3 {
    display: flex;
    justify-content: center;
}

.tec3 img {
    width: 55%;
}

.tec4 {
    display: flex;
    justify-content: center;
}

.tec4 img {
    width: 55%;
}

.tec5 {
    display: flex;
    justify-content: center;
}

.tec5 img {
    width: 55%;
}

.tec6 {
    display: flex;
    justify-content: center;
}

.tec6 img {
    width: 55%;
}